@font-face {
  font-family: kedem;
  src: url(https://alefalefalef.co.il/font/kedem/);
}

body {
    text-align: center;
    color: green;
    font-size: 1.2em;
    background-image: url('/w3images/forestbridge.jpg');
}

input[type="file" i] {
  
     font-family: kedem;
 
    
}
